{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Редактирование снипета</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-8">
                        <input type="text" name="name" value="{{ snippet.name }}">
                        <input type="checkbox" name="is_public" value="True" checked> Сделать публичным
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                       <select name="lang">
                           <option value="C++">C++</option>
                           <option value="Python">python</option>
                           <option value="JS">JS</option>
                       </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <textarea name="code"> {{ snippet.code }}" </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <input type="submit" class="btn btn-primary btn-block" value="Сохранить">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}