{% extends 'base.html' %}
{% load my_tags %}
{% block head %}
{% load static %}
<script src="{% static 'js/myscript.js' %}"></script>
{% endblock %}
{% block main %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{ pagename }}</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            Список сниппетов:
        </div>
    </div>
    <div class="row">

        <div class="col-8">
            <form action="" method="get">
                <input type="hidden", name="sort_method" value="{{sort_method}}">
                Сортировать по:
                <select id="select-id" name="sort">
                    <option disabled selected>Выберите параметр</option>
                    <option value="name">Имени</option>
                    <option value="creation_date">Дате</option>
                    <option value="user">Автору</option>
                </select>
                <input type="radio" name="reverse" value="reverse"> Обратно
                <input type="button" id="reverse_button" value="reverse">
                Выбрать язык
                <select name="lang">
                    <option disabled selected>Выберите язык</option>
                    <option value="cpp">C++</option>
                    <option value="py">Python</option>
                    <option value="js">JS</option>
                    <option value="all">Сбросить</option>
                </select>
                <input type="submit" value="Отсортировать">
            </form>
        </div>
        <div class="col-4">
            <form action="" method="get">
                <select name="selected_user">
                    <option disabled selected>Выбрать пользователя</option>
                    {% for user in users %}
                    {% if user.snippets__count > 0 %}
                    <option value="{{user.username}}">{{user.username}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" value="Выбрать">
            </form>
        </div>
    </div>
    <div class="row">

        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Дата создания</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {% for snippet in snippets %}
                <tr class="snip_info">
                    <td scope="row">{{snippet.id}}</td>
                    <td>
                        <a href="{% url 'snippet_page' snippet.id %}">{{snippet.name}}</a>
                        <a class="tool" href="{% url 'snippet_delete' snippet.id %}"><i style="color:red"
                                                                                        class="fa-solid fa-ban"></i></a>
                        <a class="tool" href="{% url 'snippet_edit' snippet.id %}"><i style="color:blue"
                                                                                      class="fa-solid fa-pen-to-square"></i></a>

                    </td>
                    <td>{{snippet.creation_date}}</td>
                    <td>{{snippet.user|is_empty:"Аноним"}}</td>
                </tr>
                {% endfor %}


                </tbody>
            </table>
            <div align="right">
                <i style="color: gray;">Всего сниппетов: {{ quantity }}</i>
            </div>
        </div>


    </div>
</div>


{% endblock %}